<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Appender>
            <!-- Консольный вывод -->
            <Console name="Console" target="SYSTEM_OUT">
                <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            </Console>

            <!-- Файловый вывод -->
            <RollingFile name="File" fileName="logs/application.log"
                         filePattern="logs/application-%d{yyyy-MM-dd}-%i.log">
                <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
                <Policies>
                    <TimeBasedTriggeringPolicy/>
                    <SizeBasedTriggeringPolicy size="10 MB"/>
                </Policies>
                <DefaultRolloverStrategy max="10"/>
            </RollingFile>
        </Appender>
        <Appender>
            <RollingFile name="PARSER" fileName="logs/parser.log"
                         filePattern="logs/parser-%d{yyyy-MM-dd}-%i.log">
                <PatternLayout pattern="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n){yellow}"/>
                <Policies>
                    <TimeBasedTriggeringPolicy/>
                    <SizeBasedTriggeringPolicy size="10 MB"/>
                </Policies>
                <DefaultRolloverStrategy max="10"/>
            </RollingFile>
        </Appender>
    </Appenders>

    <Loggers>
        <Logger name="parser" level="INFO">
            <Appender-ref name="PARSER"/>
        </Logger>
        <!-- Корневой логгер -->
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>

        <!-- Дополнительные логгеры -->
        <!-- Здесь можно задать логгеры для определенных пакетов или классов, если требуется -->
        <!-- Пример:
        <Logger name="com.example.package" level="debug">
            <AppenderRef ref="Console"/>
        </Logger>
        -->
    </Loggers>
</Configuration>